* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/* all applications colors and font size */
:root {
  --color_blue : #0AC2CC;
  --color_black:black;
  --color_white:white;
}







.logo {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  padding:4rem 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.btn-contained {
  background-color: var(--color_blue);
  color: var(--color_white);
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 50px;
  margin: 2px;
  border: none;
}
.btn-outlined {
  background-color: var(--color_white);
  color: var(--color_blue);
  display: block;
  padding: 8px;
  width: 100%;
  border-radius: 50px;
  margin: 5px 0;
  border: 1px solid var(--color_blue);
}

label {
  font-size: 13px;
  margin: 20px;
}
#fname {
  padding: 8px 20px;
  width: 100%;  
  margin: 8px 0;
  display: block;
  border: 1px solid var(--color_black);
  border-radius: 30px;
  box-sizing: border-box;
} 
.wrapper {
  background-color: var(--color_white);
  width: 100%;
}
.auth-wrapper {
  background-color: var(--color_blue);
  width: 30%;
  margin:  auto;
  height: 95vh;
}
.auth-form {
  background-color: var(--color_white);
  border: .1px solid grey;
  border-radius: 22px 22px 0 0;
  padding: 30px 30px 30px 30px;
}
.split-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.split-inputs input {
  padding: .3rem ;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid var(--color_blue);
}
input {
  width: 100%;
}

.terms input{
width: auto;
}
.terms {
  display: flex;
  padding: 10px;
}
.terms p {
  margin: 0 10px;
}
.auth-form input:not([type="checkbox"]){
  margin-top:20px;
}
.h3 {
  font-weight: 600;
  text-align: center;
}
.p{
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.remember-me {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}
.space {
  margin: 40px 0;
}
.inline {
  display: inline;
  
}
hr {
  margin: 20px 0;
}

@media only screen and (max-width: 600px){
	.auth-wrapper {
    width: 100% !important;
    margin:  0 !important;
    height: 95vh;
	}
  #fname[type=text] { 
    padding: 10px 20px;
  }
  .btn-contained {
    width: 100%;
  }
  .btn-outlined {
    width: 100% ;
  }
}